.header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}
.center {
    position: absolute;
    top: 150px;
    left: 15px;
    right: 15px;
    background-color: black;
}
/* .footer {
    position: absolute;
    bottom: auto;
    left: 5px;
    right: 5px;
    height: 25px;
} */
.common {
    position: absolute;
    background-color: gray;
    border: 2px solid white;
}
.right{
    position: absolute;
    right: 150px;
    top: 180px;
}