.starwarstitle  {
    
    font-weight: bold;
    color: yellow;
    font-size: 80px;
}
body {
    background-image: url(../assets/img/starwars_background.png);
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}
.homelink {
    color: yellow;
    font-size: 18px;
}
ul {
    font-style: italic;
}
p {
    font-weight: bold;
    font-size: larger;
}
.herelink {
    color: yellow;
}
